*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]

{% for key, value in network_interfaces.iteritems() %}
{% if value.external %}
-A POSTROUTING -o {{ key }} -j MASQUERADE
{% endif %}
{% endfor %}

COMMIT

*filter

-A FORWARD -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT

{# Map every internal facing interface to an external one #}
{% for key, value in network_interfaces.iteritems() %}
{% if not value.external %}
{% for inner_key, inner_value in network_interfaces.iteritems() %}
{% if inner_value.external %}
-A FORWARD -i {{ key }} -o {{ inner_key }} -j ACCEPT
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}

COMMIT
