*filter

{% for key, value in network_interfaces.iteritems() %}
{% if value.subnets is defined %}
-A INPUT -p tcp -i {{ key }} --dport 53 -j ACCEPT
-A INPUT -p udp -i {{ key }} --dport 53 -j ACCEPT
-A INPUT -p udp -i {{ key }} --dport 67:68 -j ACCEPT
{% endif %}
{% endfor %}

COMMIT
