127.0.0.1		localhost.localdomain		localhost
::1				localhost.localdomain		localhost ip6-localhost
{% if fqdn is defined %}
127.0.1.1		{{ fqdn }}		{{ hostname }}
{% else %}
127.0.1.1		{{ hostname }}
{% endif %}
