127.0.0.1		localhost.localdomain		localhost
::1				localhost.localdomain		localhost ip6-localhost
{% if domain is defined %}
127.0.1.1		{{ hostname }}.{{ domain }}		{{ hostname }}
{% else %}
127.0.1.1		{{ hostname }}
{% endif %}
